protobuf
attr
attrs
beautifulsoup4
dbTable
keras
matplotlib
mysql_connector_repackaged
numpy
pandas
Pillow
plotly
psycopg2_binary
python_bcrypt
requests=
scikit_learn
SQLAlchemy
streamlit
streamlit_lottie
streamlit_multipage
streamlit_option_menu
tensorflow
yagmail

